<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  the code template created by smart-generator @author hermit @version 2.0 @date ${datetime} -->
<mapper namespace="${package}.${moduleName}.dao.${className}Mapper">

    <resultMap id="BaseResultMap" type="${package}.${moduleName}.entity.${className}">
#foreach($column in $columns)
        <result column="${column.columnName}" property="${column.attrname}" />
#end
    </resultMap>

    <!-- 字段列表 -->
    <sql id="Base_Column_List">
        #foreach($column in $columns)t.${column.columnName}#if($velocityCount != $columns.size()),#end#end

    </sql>

    <!-- 分页查询 -->
    <select id="queryListByPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from ${tableName} t
        <where>
            <if test="${pk.attrname} != null and ${pk.attrname} != '' ">
				${pk.columnName} = #{${pk.attrname}}
            </if>
        </where>
        ORDER BY t.${pk.columnName} desc
    </select>

</mapper>