/**
 * Copyright &copy; 2017-2018 <a href="http://www.webcsn.com">webcsn</a> All rights reserved.
 *
 * @author ${author}
 * @date ${datetime}
 */
package ${package}.${moduleName}.service.impl;

import javax.annotation.Resource;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;
import java.util.List;
import ${package}.${moduleName}.dao.${className}Mapper;
import ${package}.${moduleName}.entity.${className};
import ${package}.${moduleName}.service.I${className}Service;
import tk.mybatis.mapper.entity.Example;
import tk.mybatis.mapper.util.Sqls;
import com.smart.common.util.Util;
import java.util.List;
/**
 * ${comments}
 *
 * @author ${author}
 * @version 2.0
 * @date ${datetime}
 */
@Service
@Transactional
public class ${className}ServiceImpl implements I${className}Service {

	@Resource
	private ${className}Mapper ${classname}Mapper;

    @Override
    public ${className} queryObject(${className} ${classname}) throws Exception {
        return ${classname}Mapper.selectByPrimaryKey(${classname});
    }
	
	@Override
	public List<${className}> queryList(${className} ${classname}) throws Exception {
		return ${classname}Mapper.select(${classname});
	}

    @Override
    public List<${className}> queryListByPage(${className} ${classname}) throws Exception {
        return ${classname}Mapper.queryListByPage(${classname});
    }

	@Override
	public Integer queryCount(${className} ${classname}) throws Exception {
        Integer ct = ${classname}Mapper.selectCount(${classname});
        return ct == null ? 0 : ct;
	}
	
	@Override
	public Integer insert(${className} ${classname}) throws Exception {
	    ${classname}.set${pk.attrName}(Util.getUUID());
        return ${classname}Mapper.insertSelective(${classname});
	}
	
	@Override
	public Integer update(${className} ${classname}) throws Exception {
        return ${classname}Mapper.updateByPrimaryKeySelective(${classname});
	}
	
	@Override
	public Integer delete(${className} ${classname}) throws Exception {
        return ${classname}Mapper.delete(${classname});
	}

    @Override
    public Integer deleteBatch(List<String> ${pk.attrname}s) throws Exception {
        Example example = Example.builder(${className}.class).where(Sqls.custom().andIn("${pk.attrname}", ${pk.attrname}s)).build();
        return ${classname}Mapper.deleteByExample(example);
    }
}
